services:
  askhr-backend:
    container_name: askhr-backend
    build:
      context: ./backend/AskHr
      dockerfile: Dockerfile
    image: askhr-backend
    ports:
      - "9091:9091"
    depends_on:
      - ollama
      - qdrant
    environment:
      SPRING_PROFILES_ACTIVE: docker
      SPRING_AI_OLLAMA_BASE_URL: http://ollama:11434
    restart: unless-stopped

  askhr-frontend:
    container_name: askhr-frontend
    build:
      context: ./UI/ask-hr
      dockerfile: Dockerfile
    image: askhr-frontend
    ports:
      - "3000:3000"
    restart: unless-stopped

  qdrant:
    image: qdrant/qdrant:latest
    container_name: qdrant
    ports:
      - "6333:6333"
    restart: unless-stopped

  ollama:
   image: ollama/ollama:latest

   container_name: ollama
   volumes:
    - C:/Users/273273/.ollama:/root/.ollama
   restart: unless-stopped

volumes:
  ollama:
