services:
    
  askhr-backend:
    container_name: askhr-backend
    build:
      context: ./backend/AskHr
      dockerfile: Dockerfile
    image: askhr-backend
    ports:
      - "9091:9091"
    environment:
      SPRING_PROFILES_ACTIVE: docker

      # H2 (file-based, persistent)
      SPRING_DATASOURCE_URL: jdbc:h2:file:/data/askhrdb
      SPRING_DATASOURCE_DRIVER_CLASS_NAME: org.h2.Driver
      SPRING_DATASOURCE_USERNAME: abhinav
      SPRING_DATASOURCE_PASSWORD: kumar
      SPRING_H2_CONSOLE_ENABLED: "true"

      # Ollama running outside Docker on host
      SPRING_AI_OLLAMA_BASE_URL: http://host.docker.internal:11434

    volumes:
      - h2_data:/data
    restart: unless-stopped

  askhr-frontend:
    container_name: askhr-frontend
    build:
      context: ./UI/ask-hr
      dockerfile: Dockerfile
    image: askhr-frontend
    ports:
      - "3000:3000"
    depends_on:
      - askhr-backend
    restart: unless-stopped

volumes:
  h2_data:
